################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoApp/v16/Server/sqlite3
/.vs/DemoApp/v16/.suo
/.vs/DemoApp
